/* Forgive me guys for this one
Kirisaki_VK */
:root{
    --yellow-hei: #fcaf3b;
}

.row-cols-md-4{
    width: 80%;
}

.card-img-top{
    cursor: pointer;
    position: relative;
}

/* Removes cards border */

.no-border-card{
    border: 0 !important;
}

/* This is for the more button on top of each card images */
.more{
    position: absolute;
    color: white;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.733);
    transition: 500ms;
    opacity: 0;
}

.show:hover{
    opacity: 1 !important;
}

/* This is just for smoothing the scale animation */
.smoothing-scale{
    transition: 500ms;
}

.scale-on-hover:hover {
   transform: scale(1.07);
    box-shadow: 3px 3px 20px;
}

/* This section is for the dimenssion of the counters icons */

.dimens-counter-icons{
    transform: scale(2.5);
}

/* To prevent icon and stats to collapse */

.stats{
    margin-top: 25px;
}

/* Quote pfp for blockquote section */

.quote-pfp{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

blockquote{
    z-index: 100;
    width: 70%;
    position: relative;
}

blockquote::before{
    z-index: 0;
    position: absolute;
    top: -100px;
    display: block;
    height: 25px;
    color: rgba(128, 128, 128, 0.829);
    content: '"';
    font-family: 'Times New Roman', Times, serif;
    font-size: 200px;  
}

.color-hei{
    color: var(--yellow-hei);
}

.title-card {
    display: grid;
    grid-template-columns: 2rem auto 2rem ;
}

.title-card hr {
    border-bottom: 3px solid blue;
}

.title-card h5 {
    font-size: 1.15rem;
    padding-inline: 0.2rem;
}

