*{ scroll-behavior: smooth ;}
.sticky-top{
    transition: .5s;
}
.bg-img-fond-ab{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/bg-img.jpg) no-repeat center/cover;
    z-index: -1;
}
.bg-img-fond-ab::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
}

.logo-hei-ab{
    width: 18vmin;
    height: 14vmin;
    min-height: 60px;
    min-width: 70px;
    object-fit: cover;
}
.banner-text-ab{
    height: 80vh;
    margin-bottom: 10vh;
}
.bg-hei-yellow-ab{
    background: var(--Yellow-ab);
}
.text-hei-yellow-ab{
    color: var(--Yellow-ab);
}
.text-hei-yellow-ab:hover{
    color: yellow;
}
@media (max-width : 520px) {
    .hei-title{
        font-size: 2rem;
    }
}
.hei-title-ab{
    font-size: 12vmin !important;
    font-family: "EB Garamond",Helvetica, arial,sans-serif;
}

.team-img-area-ab{
    width: 25vmin;
    height: 25vmin;
    min-width: 110px;
    min-height: 110px;
    object-fit: cover;
}
.hover-shadow-ab{
    transition: .4s;
}
.hover-shadow-ab:hover{
    transition: .2s;
    transform: scale(1.02);
    box-shadow: 0 0 1vmin 0.2vmin rgba(0,0,0,0.4);
    cursor: pointer;
}

.marginize-top-ab{
    transition: .3s;
    z-index: 48000;
    padding-top: 5vmin;
}

.bg-blured-ab{
    position: fixed;
    top: 0;
    z-index: 480000;
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.75);
}
.only-blur-ab{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
    z-index: 480000;
}
.width-side-ab{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: .6s; 
    z-index: 480002;
}
.width-side-ab.active-ab{
    left: 0%;
    transition: .5s;
}
.border-b-ab{
    border-bottom: 0.4vmin solid grey;
}
.text-nav-link-ab{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: black !important;
}
.text-nav-link-ab::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--Yellow-ab);
    transition: .3s;
    border-radius: 0  8vmin 8vmin 0;
}
.text-nav-link-ab:hover::after{
    width: 100%;
    border-radius: 0;
}
.z-1-ab{
    z-index: 1;
}

@media (max-width : 572px) {
    .close-x-ab{
        font-size: 1.5rem !important;
    }
}

.close-x-ab{
    font-size: 4vmin;
    color: black;
}

.close-x-ab:hover{
    color: var(--Yellow-ab);
}

@media (max-width : 320px){
    .width-side-ab{
        width: 100%;
    }
}
@media (min-width : 600px ) {
    .width-side-ab{
        width: 300px;
    }
}
@media (min-width : 992px) {
    .width-side-ab{
        width: 22%;
    }
}
.btn-link-ico-ab{
    font-size: 3.4vmin;
    color: black;
}
.btn-link-ico-ab:hover {
    color: var(--Yellow-ab);
}
@media (max-width : 572px) {
    .btn-nav-ico-ab,.btn-link-ico-ab{
        font-size: 1.6rem !important;
    }
}
.btn-nav-ico-ab{
    font-size: 3.5vmin;
    color: var(--Yellow-ab);
}
.btn-nav-ico-ab:hover{
    color: gold;
}
.loader-container-ab{
    position: fixed;
    top: 0;
    z-index: 60000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.fadeLoad-ab i{
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    width: 4vmin;
    height: 4vmin;
    background: var(--Yellow-ab);
    border-radius: 50%;
}
.fadeLoad-ab i:first-child{
    opacity: 0;
	animation: firstDotLoading 0.58s linear infinite;
	transform:translate(var(--translateF-dot));
}
.fadeLoad-ab i:nth-child(2){
    transform: translate(-0.5vmin);
    animation:midDotLoading1 0.58s linear infinite;
}
.fadeLoad-ab i:nth-child(3){
    transform: translate(-0.5vmin);
    animation:midDotLoading2 0.58s linear infinite;
}
.fadeLoader-ab{
    transition: .3s;
    opacity: 0;
}
.fadeLoad-ab i:last-child{
    animation: lastDotLoading 0.58s linear infinite;
}

@keyframes firstDotLoading{
	100%{
		opacity: 1;
		transform:translate(var(--anim-dot));
	}
}
@keyframes midDotLoading1{
    100%{
        opacity: 1;
		transform:translate(var(--anim-dot));
	}
}
@keyframes midDotLoading2{
    100%{
        opacity: 0.6;
		transform:translate(3vmin);
	}
}
@keyframes  lastDotLoading{
    100%{
		opacity: 0;
        transform:translate(4vmin);
    }
}

@keyframes show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}




.fade-animation-showing-ab{
    animation-name: fade-show;
    animation-timing-function: linear;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
@keyframes fade-show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.nav-appear-ab{
    display: none !important;
}
@media (max-width : 573px) {
    .nav-appear-ab{
        display: flex !important;
    }
}


@media (max-height : 420px) {
    .list-link-ab{
        display: none;
    }
}
@media (min-height : 420px) {
    .sm-nav-icons-ab{
        display: none;
    }
}
    
:root{
    --Yellow-ab : #fcaf3b;
    --anim-dot : 2vmin;
    --translateF-dot : -2vmin;
}
