.img-card-vk{
    width: 16rem;
    height: 16rem;
    min-width: 120px;
    min-height: 120px;
    object-fit: cover;
}
.parcours-card-vk{
    width: 16rem;
    min-width: 120px;
}
.more{
    position: absolute;
    color: white;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(31, 31, 31, 0.733);
    transition: .1s;
    opacity: 0;
}
.more:hover{
    cursor: pointer;
    opacity: 1;
}

.kirisaki_vk-link-styles{
    text-decoration: none !important;
    color: white;
}

.kirisaki_vk-link-styles:hover{
    color: var(--Yellow-hei);
}
.scale-hover-vk{
    transition: .2s;
}
.scale-hover-vk:hover{
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.2);
    transform: scale(1.1);
}
.inner_blockquote{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: fit-content;
}
.img-temoignage-vk{
    width: 8rem;
    height: 8rem;
}
.inner_blockquote::before{
    content: "“";
    left: -1rem;
    bottom: -2rem;
}
.inner_blockquote::after{
    content: "”";
    top: 1rem;
    right: -2rem;
}
.inner_blockquote::before,
.inner_blockquote::after{
    font-size: 5rem;
    position: absolute;
}